.task {
    margin: 10px 0;
}

.task:first-child {
    margin-top: 0;
}

.task:last-child {
    margin-bottom: 0;
}

.dragHandle {
    cursor: move;
}

.dragHandle i {
    font-size: 1.5em;
}

.complete {
    text-decoration: line-through solid 2px;
    caret-color: transparent;
}